.container {
  max-width: 700px;
  margin: 0 auto;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.post__details {
  display: flex;
  font-size: 0.875rem;

  & > * {
    display: flex;
    align-items: center;
  }

  & > * + * {
    margin-left: 1.5rem;
  }

  svg {
    margin-right: 0.5rem;
  }
}
